# Задание 1
Напишите функцию date_range, которая возвращает список дней между датами start_date и end_date. Даты должны вводиться в формате YYYY-MM-DD.

In [16]:
import datetime

In [17]:
import pandas as pd

In [3]:
import sys

In [12]:
start_date = input('Date (yyyy-mm-dd): ')
end_date = input('Date (yyyy-mm-dd): ')
d = pd.date_range(start = start_date, end = end_date, freq='D')    
print(d)

Date (yyyy-mm-dd): 2019-01-01
Date (yyyy-mm-dd): 2019-01-05
DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

# Задание 2
Дополните функцию из первого задания проверкой на корректность дат. В случае неверного формата или если start_date > end_date должен возвращаться пустой список.

In [5]:
start_date = input('Date (yyyy-mm-dd): ')
end_date = input('Date (yyyy-mm-dd): ')
try:
    start_date = datetime.datetime.strptime(start_date, '%Y-%m-%d')
except (ValueError):
    print('Invalid date!')
    start_date = []
try:
    end_date = datetime.datetime.strptime(end_date, '%Y-%m-%d')
except (ValueError):
    print('Invalid date!')
    end_date = []
try:
    d = pd.date_range(start = start_date, end = end_date, freq='D')
except (TypeError):
    d = []
print(d)

Date (yyyy-mm-dd): 2019/01/01
Date (yyyy-mm-dd): 2019.01.03
Invalid date!
Invalid date!
[]

In [9]:
start_date = input('Date (yyyy-mm-dd): ')
end_date = input('Date (yyyy-mm-dd): ')
try:
    start_date = datetime.datetime.strptime(start_date, '%Y-%m-%d')
except (ValueError):
    print('Invalid date!')
    start_date = []
try:
    end_date = datetime.datetime.strptime(end_date, '%Y-%m-%d')
except (ValueError):
    print('Invalid date!')
    end_date = []
try:
    d = pd.date_range(start = start_date, end = end_date, freq='D')
except (TypeError):
    d = []
if start_date > end_date:
    d = []
print(d)

Date (yyyy-mm-dd): 2019-05-05
Date (yyyy-mm-dd): 2019-04-03
[]

# Задание 3
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]
Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [29]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [30]:
def test(stream):
    for x in stream:
        try:
            stream_datetime=datetime.strptime (x, '%Y-%m-%d')
            print (True)
        except Exception:
            print (False)
test(stream)

True
False
False

# Задание 4
В последнем примере поиска по словарю мы использовали 3 столбца. Напишите функцию, которая формирует словарь для поиска по n столбцам.

In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv('stats.csv', names=['day_number', 'user_id', 'category', 'cost'])
stats.head()

   day_number  user_id  category   cost
0          14    26376         3  13301
1          12     7316         2  19329
2          28     2803         2  87381
3          25    22022         2  94036
4          20    13883         5  50722

In [12]:
stats_dict = {}
n = int(input('Напиши количество столбцов для поиска, юный падаван: '))
line_to_find = ('20', '13883')
with open('stats.csv') as f:
    for line in f:
        line = line.strip().split(',')
        stats_dict[tuple(line[:n])] = line[3]
    cost = stats_dict[line_to_find]
    print(cost)

Напиши количество столбцов для поиска, юный падаван: 2
50722