# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Скачала MovieLens 20M Dataset

In [5]:
import pandas as pd

In [21]:
five_rate = pd.read_csv(r'C:\Users\AsusTeck\Desktop\ratings.csv')
five_rate.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [22]:
only_five = five_rate[five_rate['rating'] == 5.0] #массив, где рейтинг только 5.0
only_five.head()

     userId  movieId  rating   timestamp
131       1     4993     5.0  1112484682
142       1     5952     5.0  1112484619
158       1     7153     5.0  1112484633
170       1     8507     5.0  1094786027
176       2       62     5.0   974820598

In [30]:
#Логика - у кого больше всего оценок 5.0, то у того и сумма рейтингов будет больше всего
(only_five[['movieId', 'rating']].groupby('movieId').sum().sort_values('rating', ascending=False)).index[0]

318

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r'C:\Users\AsusTeck\Desktop\power.csv')

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [11]:
data[ data['country'].str.contains('lat', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [12]:
data[ data['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [13]:
data[ data['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [4]:
filter1 = data['country'].isin(['Estonia', 'Lithuania', 'Latvia'])
filter2 = data['category'].isin(['4', '12', '21'])
filter3 = data['year'].isin(['2005', '2006', '2007', '2008', '2009', '2010'])

data[filter1 & filter2 & filter3].head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [9]:
sum_quantity = data[filter1 & filter2 & filter3]
sum_quantity = sum_quantity[sum_quantity['quantity'] > 0]['quantity'].sum()
sum_quantity

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [5]:
pd.read_html('https://mfd.ru/marketdata/?id=5')

[            0          1        2              3              4        5   \
 0        Тикер      Время     Цена  Объем за день  Кол-во сделок      NaN
 1       сделки  пред закр     откр            мин           макс    срвзв
 2   Yandex clA   10:04:34  2 403.4           +4.4         +0.18%    2 399
 3    АЛРОСА ао   10:04:34    71.33          +0.23         +0.32%     71.1
 4     Аэрофлот   10:04:30   109.72          −0.28         −0.25%      110
 5       ВТБ ао   10:04:34  0.03871       +0.00014         +0.36%  0.03857
 6   ГАЗПРОМ ао   10:04:33   232.77          +0.71         +0.31%   232.06
 7    ГМКНорНик   10:04:34   15 500            +40         +0.26%   15 460
 8   ИнтерРАОао   10:04:34     4.07        +0.0085         +0.21%   4.0615
 9       ЛУКОЙЛ   10:04:34  5 277.5           +2.5         +0.05%    5 275
 10   Магнит ао   10:04:31    3 541             +6         +0.17%    3 535
 11         ММК   10:04:32    38.92          +0.15         +0.39%    38.77
 12    МосБиржа   10:04:34    93.74          +1.09         +1.18%    92.65
 13      МТС-ао   10:04:34    256.5          −0.35         −0.14%   256.85
 14     НЛМК ао   10:04:33   141.04          +0.28         +0.20%   140.76
 15  Новатэк ао   10:04:46  1 282.8             +2         +0.16%  1 280.8
 16       Полюс   10:04:34  7 211.5          −24.5         −0.34%    7 236
 17    Роснефть   10:04:33    407.2           +1.2         +0.30%      406
 18  Россети ао   10:04:34   1.1466        +0.0067         +0.59%   1.1399
 19    РусГидро   10:04:30   0.5475        +0.0015         +0.27%    0.546
 20    Сбербанк   10:04:34   219.67          +0.17         +0.08%    219.5
 21  Сбербанк-п   10:04:34   192.33          −0.24         −0.12%   192.57
 22    СевСт-ао   10:04:34    948.6           +4.6         +0.49%      944
 23    Сургнфгз   10:04:47   25.625         +0.075         +0.29%    25.55
 24  Сургнфгз-п   10:04:33   31.415         −0.045         −0.14%    31.46
 25  Татнфт 3ао   10:04:30    717.8           +0.2         +0.03%    717.6
 26  Татнфт 3ап   10:04:33    628.9             +3         +0.48%    625.9
 27       Тикер      Время     Цена  Объем за день  Кол-во сделок      NaN
 28      сделки  пред закр     откр            мин           макс    срвзв

          6        7         8         9              10           11     12
 0       NaN      NaN       NaN       NaN            NaN          NaN    NaN
 1        шт      руб       NaN       NaN            NaN          NaN    NaN
 2     2 410    2 403     2 410   2 405.2          1 841    4 428 037     75
 3      71.2    71.14     71.43     71.26        189 300   13 489 873    193
 4       110   109.72    110.36       110         69 160    7 606 996    141
 5    0.0386  0.03857  0.038775  0.038695  1 389 930 000   53 781 825    656
 6     232.7   232.19    232.93    232.62        462 400  107 562 269    611
 7    15 472   15 470    15 558    15 516          3 830   59 420 798    404
 8    4.0615   4.0615     4.081     4.073        935 000    3 808 035    108
 9     5 278    5 277   5 286.5   5 281.5          3 401   17 961 738    110
 10  3 544.5    3 536     3 547     3 542          2 377    8 419 706    164
 11    38.97   38.895        39     38.95         39 300    1 530 707     46
 12     93.1     93.1     94.21     93.85        739 560   69 407 537  1 532
 13      257    256.5    257.05    256.85          5 720    1 469 129     44
 14      141      141    141.34    141.16         19 320    2 726 974     96
 15    1 280    1 280   1 285.8   1 282.4          4 650    5 963 166     55
 16    7 252  7 181.5     7 267   7 241.5          3 719   26 931 587    233
 17    407.3      407     407.7     407.3         63 820   25 992 959    261
 18   1.1352   1.1352    1.1478    1.1425      4 499 000    5 139 957    193
 19   0.5482    0.547    0.5484    0.5476      2 864 000    1 568 374     85
 20    220.2   219.55    220.45    220.11      1 107 770  243 828 344    972
 21    192.5   192.24    192.89    192.53         61 280   11 798 396    180
 22      945      945     949.4     948.2          7 120    6 750 628     99
 23     25.6     25.6     25.68     25.64         71 200    1 825 480     52
 24    31.46   31.415     31.54    31.485        160 400    5 050 103    137
 25      718    717.6     720.8     719.4          5 170    3 719 048     49
 26    628.5    626.9       629     628.2         12 070    7 582 541    131
 27      NaN      NaN       NaN       NaN            NaN          NaN    NaN
 28       шт      руб       NaN       NaN            NaN          NaN    NaN  ,
             0          1        2              3              4        5   \
 0        Тикер      Время     Цена  Объем за день  Кол-во сделок      NaN
 1       сделки  пред закр     откр            мин           макс    срвзв
 2   Yandex clA   10:04:34  2 403.4           +4.4         +0.18%    2 399
 3    АЛРОСА ао   10:04:34    71.33          +0.23         +0.32%     71.1
 4     Аэрофлот   10:04:30   109.72          −0.28         −0.25%      110
 5       ВТБ ао   10:04:34  0.03871       +0.00014         +0.36%  0.03857
 6   ГАЗПРОМ ао   10:04:33   232.77          +0.71         +0.31%   232.06
 7    ГМКНорНик   10:04:34   15 500            +40         +0.26%   15 460
 8   ИнтерРАОао   10:04:34     4.07        +0.0085         +0.21%   4.0615
 9       ЛУКОЙЛ   10:04:34  5 277.5           +2.5         +0.05%    5 275
 10   Магнит ао   10:04:31    3 541             +6         +0.17%    3 535
 11         ММК   10:04:32    38.92          +0.15         +0.39%    38.77
 12    МосБиржа   10:04:34    93.74          +1.09         +1.18%    92.65
 13      МТС-ао   10:04:34    256.5          −0.35         −0.14%   256.85
 14     НЛМК ао   10:04:33   141.04          +0.28         +0.20%   140.76
 15  Новатэк ао   10:04:46  1 282.8             +2         +0.16%  1 280.8
 16       Полюс   10:04:34  7 211.5          −24.5         −0.34%    7 236
 17    Роснефть   10:04:33    407.2           +1.2         +0.30%      406
 18  Россети ао   10:04:34   1.1466        +0.0067         +0.59%   1.1399
 19    РусГидро   10:04:30   0.5475        +0.0015         +0.27%    0.546
 20    Сбербанк   10:04:34   219.67          +0.17         +0.08%    219.5
 21  Сбербанк-п   10:04:34   192.33          −0.24         −0.12%   192.57
 22    СевСт-ао   10:04:34    948.6           +4.6         +0.49%      944
 23    Сургнфгз   10:04:47   25.625         +0.075         +0.29%    25.55
 24  Сургнфгз-п   10:04:33   31.415         −0.045         −0.14%    31.46
 25  Татнфт 3ао   10:04:30    717.8           +0.2         +0.03%    717.6
 26  Татнфт 3ап   10:04:33    628.9             +3         +0.48%    625.9
 27       Тикер      Время     Цена  Объем за день  Кол-во сделок      NaN
 28      сделки  пред закр     откр            мин           макс    срвзв

          6        7         8         9              10           11     12
 0       NaN      NaN       NaN       NaN            NaN          NaN    NaN
 1        шт      руб       NaN       NaN            NaN          NaN    NaN
 2     2 410    2 403     2 410   2 405.2          1 841    4 428 037     75
 3      71.2    71.14     71.43     71.26        189 300   13 489 873    193
 4       110   109.72    110.36       110         69 160    7 606 996    141
 5    0.0386  0.03857  0.038775  0.038695  1 389 930 000   53 781 825    656
 6     232.7   232.19    232.93    232.62        462 400  107 562 269    611
 7    15 472   15 470    15 558    15 516          3 830   59 420 798    404
 8    4.0615   4.0615     4.081     4.073        935 000    3 808 035    108
 9     5 278    5 277   5 286.5   5 281.5          3 401   17 961 738    110
 10  3 544.5    3 536     3 547     3 542          2 377    8 419 706    164
 11    38.97   38.895        39     38.95         39 300    1 530 707     46
 12     93.1     93.1     94.21     93.85        739 560   69 407 537  1 532
 13      257    256.5    257.05    256.85          5 720    1 469 129     44
 14      141      141    141.34    141.16         19 320    2 726 974     96
 15    1 280    1 280   1 285.8   1 282.4          4 650    5 963 166     55
 16    7 252  7 181.5     7 267   7 241.5          3 719   26 931 587    233
 17    407.3      407     407.7     407.3         63 820   25 992 959    261
 18   1.1352   1.1352    1.1478    1.1425      4 499 000    5 139 957    193
 19   0.5482    0.547    0.5484    0.5476      2 864 000    1 568 374     85
 20    220.2   219.55    220.45    220.11      1 107 770  243 828 344    972
 21    192.5   192.24    192.89    192.53         61 280   11 798 396    180
 22      945      945     949.4     948.2          7 120    6 750 628     99
 23     25.6     25.6     25.68     25.64         71 200    1 825 480     52
 24    31.46   31.415     31.54    31.485        160 400    5 050 103    137
 25      718    717.6     720.8     719.4          5 170    3 719 048     49
 26    628.5    626.9       629     628.2         12 070    7 582 541    131
 27      NaN      NaN       NaN       NaN            NaN          NaN    NaN
 28       шт      руб       NaN       NaN            NaN          NaN    NaN  ]